includeConfig 'conf/base.config'

profiles {
  awsbatch { includeConfig 'conf/awsbatch.config' }
  docker { 
    docker.enabled = true
    docker.runOptions = '-u $(id -u):$(id -g)'
    docker.registry = 'registry.gitlab.com'
  }
}

params{
  database = false
  hlatyping = false
  bam_source = 'uuid'
  bam_type = 'bam'
  hla_ref_prefix = 'hla_reference_dna.fasta'
  hla_ref = 's3://zhanglab-neoflow/hla_reference/hla_reference_dna.fasta*'
  // hla_ref_anno = 's3://zhanglab-neoflow/hla_reference/hla_reference_dna.fasta.ann'
  annovar_buildver = 'GRCh38.p13.gencode.v34.basic'
  annovar_protocol = 'refGene'
  annovar_anno_file  = 's3://zhanglab-neoflow/genecode_humandb.tgz'
  seqtype = "dna"
  annovar_file = 's3://zhanglab-neoflow/annova.tgz'
  // vcf_file = 's3://zhanglab-neoflow/testing_vcf_2020_11_10.tar.gz'
  contaminants = 's3://zhanglab-neoflow/contaminants.fasta'
  // pepquery 1.6.0 parameter settings
  pv_enzyme = 1
  pv_c      = 2
  pv_tol    = 10
  pv_tolu   = 'ppm'
  pv_itol   = 0.05 // Da
  pv_fixmod = '108,89,6'
  pv_varmod = 117
  pga_prefix = 'pga'
  // user must provide 
  // search_engine = 'comet'
  // search_para_file = 's3://zhanglab-neoflow/comet_parameter.txt'
  search_engine = 'msgf'
  search_para_file = 's3://zhanglab-neoflow/MSGFPlus_Params.txt'
  // this will pass into java (unit: GB)
  search_engine_mem = 60
  // search_engine = 'xtandem'
  // search_para_file = 's3://zhanglab-neoflow/xtandem_parameter.xml'
  netmhc_file = 's3://zhanglab-neoflow/netMHCpan-4.0.tar.gz'
  neoantigen_output_prefix = 'neoflow'

}

// the following parameters can be modified with command line options 
// when running the pipeline
// Global default params
params {
  help = false
  tracedir = "results/pipeline_info"
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

params {
  container {
    ubuntu = 'bzhanglab/ubuntu:18.04'
    r_tidyverse = 'bzhanglab/r-tidyverse:4.0.2'
    bwa = 'bzhanglab/bwa:0.7.17'
    samtools = 'bzhanglab/samtools:1.15.1'
    optitype = 'bzhanglab/optitype:1.3.1'
    gdc_client = 'bzhanglab/gdc-client:1.6.1'
    neoflow = 'bzhanglab/neoflow:1.2.0'
    fdr_calc = 'bzhanglab/fdr_calc:1.0'
    python = 'bzhanglab/python:3.7.6'
    variant_annotation = 'bzhanglab/variant_annotation:1.2.1'
    pga = 'bzhanglab/pga:1.0.0'
    binding_prediction = 'bzhanglab/binding_prediction:1.0.2'
  }
}

manifest {
  name = 'bzhanglab/neoflow2'
  author = 'Zhiao Shi, Kai Li, Bo Wen'
  homePage = 'https://github.com/bzhanglab/neoflow2'
  description = 'NeoFlow2 pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '1.1.0'
}
