aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {
  executor = 'awsbatch'
  errorStrategy = {sleep(Math.pow(2, task.attempt) * 300 as long); return 'retry'}
  maxRetries = 3
  memory = '4 GB'
  withLabel: 'r5_4xlarge' {
    queue = 'nextflow-awsbatch-queue-spot-r5-4xlarge'
  }
  withLabel: 'r5_4xlarge_500g' {
    queue = 'nextflow-awsbatch-queue-spot-r5-4xlarge-500g'
  }
  withLabel: 'r5_4xlarge_1000g' {
    queue = 'nextflow-awsbatch-queue-spot-r5-4xlarge-1000g'
  }
  withLabel: 'r5_2xlarge' {
    queue = 'nextflow-awsbatch-queue-spot-r5-2xlarge'
  }
  withLabel: 'r5_2xlarge_500g' {
    queue = 'nextflow-awsbatch-queue-spot-r5-2xlarge-500g'
  }
  withLabel: 'r5_2xlarge_1000g' {
    queue = 'nextflow-awsbatch-queue-spot-r5-2xlarge-1000g'
  }
  withLabel: 'c5a_8xlarge_1000g' {
    queue = 'nextflow-awsbatch-queue-spot-c5a-8xlarge-1000g'
  }
  withLabel: 'm4_4xlarge' {
    queue = 'nextflow-awsbatch-queue-spot-m4-4xlarge'
  }
  withLabel: 'm4_4xlarge_500g' {
    queue = 'nextflow-awsbatch-queue-spot-m4-4xlarge-500g'
  }
  // increase memory and disk space size for larger jobs
  withName: 'bam_to_fastq|cram_to_fastq|run_samtools|reads_mapping' {
    queue = { task.attempt > 1 ? 'nextflow-awsbatch-queue-spot-r5-2xlarge-1000g' : 'nextflow-awsbatch-queue-spot-r5-2xlarge-500g' }
    // memory = { task.attempt > 1 ? 122000.MB : 61000.MB }
    memory = 61000.MB
    // cpus = { task.attempt > 1 ? 16 : 8 }
    cpus = 8
  }

  //  withName: 'run_optitype'  {
  //   queue = { task.attempt > 1 ? 'nextflow-awsbatch-queue-spot-r5-8xlarge-1000g' : 'nextflow-awsbatch-queue-spot-r5-2xlarge-1000g' }
  //   memory = { task.attempt > 1 ? 244000.MB : 122000.MB }
  //   cpus = { task.attempt > 1 ? 32 : 16 }
  // }

}

docker { 
  enabled = true
  runOptions = '-u $(id -u):$(id -g)'
  registry = 'registry.gitlab.com'
}
